# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# generated declarations (live in packages/canister-types)
src/declarations/

# rust
target/

# frontend code
node_modules/
dist/
.svelte-kit/

# environment variables
.env

# built wasm files
*.wasm

# test assets (downloaded via ./download-test-wasms.sh)
test-assets/
