VITE_WHITELISTED_PRINCIPAL_PRIVATE_KEY=
VITE_CANISTER_ID=5optx-3iaaa-aaaae-qjwsa-cai
VITE_IC_HOST=https://icp0.io
VITE_CKBTC_INDEX_CANISTER_ID=n5wcd-faaaa-aaaar-qaaea-cai
VITE_CKBTC_LEDGER_CANISTER_ID=mxzaz-hqaaa-aaaar-qaada-cai
DFX_NETWORK=ic
