# Canister configuration
CANISTER_ID=
IC_HOST=https://ic0.app
# Set local replica host (e.g. http://127.0.0.1:4943) during local development.
NEXT_PUBLIC_DYNAMIC_ENVIRONMENT_ID=

# Firebase configuration
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Cron job authentication
CRON_SECRET=
MEMPOOL_API_URL=https://mempool.space/testnet/api

# OpenTelemetry traces
OTEL_SERVICE_NAME=volumetric-web-local
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=
OTEL_EXPORTER_OTLP_HEADERS=Authorization=Basic%20<base64>

# Tawk.io
NEXT_PUBLIC_TAWK_EMBED_URL=