# Canister configuration
CANISTER_ID=
IC_HOST=https://ic0.app
NEXT_PUBLIC_DYNAMIC_ENVIRONMENT_ID=

# Firebase configuration
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Cron job authentication
CRON_SECRET=
MEMPOOL_API_URL=https://mempool.space/testnet/api

# Tawk.io
NEXT_PUBLIC_TAWK_EMBED_URL=